<p style="color: green"><%= notice %></p>

<%= render @organization_department %>

<div>
  <%= link_to "Edit this department", edit_organization_department_path(@organization_department) %> |
  <%= link_to "Back to departments", organization_departments_path %>

  <%= button_to "Destroy this department", organization_department_path(@organization_department), method: :delete %>
</div>
