<p style="color: green"><%= notice %></p>

<h1>Organization: <%= @organization.name %></h1>

<div>
  <p>
    <strong>Phone:</strong>
    <%= @organization.phone %>
  </p>

  <p>
    <strong>EID:</strong>
    <%= @organization.eid %>
  </p>
  
  <p>
    <strong>Primary EID:</strong>
    <%= @organization.primary_eid %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= @organization.street %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @organization.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @organization.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= @organization.zip %>
  </p>

  <p>
    <strong>Primary operator:</strong>
    <%= @organization.primary_operator %>
  </p>

  <p>
    <strong>Contact Email:</strong>
    <%= @organization.contact.email %>
  </p>

  <p>
    <strong>Birth Date:</strong>
    <%= @organization.contact.birth_date %>
  </p>

  <p>
    <strong>Social:</strong>
    <%= @organization.contact.social %>
  </p>

  <p>
    <strong>EID:</strong>
    <%= @organization.contact.eid %>
  </p>

  <p>
    <strong>GEID:</strong>
    <%= @organization.contact.geid %>
  </p>

  <p>
    <strong>Payroll ID:</strong>
    <%= @organization.contact.payroll_id %>
  </p>

  <p>
    <strong>Hire Date:</strong>
    <%= @organization.contact.hire_date %>
  </p>
</div>

<div>
  <%= link_to "Edit this organization", edit_administrator_organization_path(@organization) %> |
  <%= link_to "Back to organizations", administrator_organizations_path %>

  <div class="mt-4 flex gap-x-4">
    <%= button_to "Create Organization Users", create_users_administrator_organization_path(@organization), method: :post, class: "rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    <%= button_to "Sync User Info", sync_user_info_administrator_organization_path(@organization), method: :post, class: "rounded-md bg-green-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600" %>
  </div>

  <div class="mt-4">
    <%= button_to "Destroy this organization", administrator_organization_path(@organization), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
</div>
